
	<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;"> <!-- ADD WIDTH -->
		<tr>
			<td style="border-collapse: collapse;vertical-align: top;">
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697">
					<tr>
						<td width="697" valign="top" style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/header-image.jpg" alt="header image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="697" valign="top" style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/logo.jpg" alt="logo image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="697" valign="top" style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/top-image-spacer.jpg" alt="spacer image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="16">
							&nbsp;
						</td>
						<td width="531" valign="top" style="border-collapse: collapse;vertical-align: top;">
							
							<table cellpadding="0" cellspacing="0" border="0" align="left" width="531" style="border-collapse: collapse;vertical-align: top;">
								<tr>
									<td width="60" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Tel:</p>
									</td>
									<td width="471" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;">+27 (0)82 412 3241</p>
									</td>
								</tr>
								<tr>
									<td width="60" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Email:</p>
									</td>
									<td width="471" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><a href="mailto:carel@carelnolte.com" style="color:#b7b7b7;">carel@carelnolte.com </a><br />
										<a href="mailto:cnolte@gt247.com" style="color:#b7b7b7;">cnolte@gt247.com</a> <br />
										<a href="mailto:careln@thefulcrumgroup.co.za" style="color:#b7b7b7;">careln@thefulcrumgroup.co.za</a><br /></p>
									</td>
								</tr>
								<tr>
									<td width="60" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Mail:</p>
									</td>
									<td width="471" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;">PO Box 782953, Sandton, 2146, South Africa</p>
									</td>
								</tr>
								<tr>
									<td width="60" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Physical<br />Address:</p>
									</td>
									<td width="471" valign="top" style="border-collapse: collapse;vertical-align: top;">
										<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><br />231 Oxford Road, Dunkeld, Johannesburg, 2196, South Africa</p>
									</td>
								</tr>
							</table>
						</td>
						<td width="150" style="border-collapse: collapse;vertical-align: top;">
								<table cellpadding="2" cellspacing="0" border="0" align="left" width="150" style="border-collapse: collapse;vertical-align: top;">
									<tr>
										<td width="16" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<img src="http://www.carelnolte.com/assets/images/twitter-icon.png" alt="" width="11" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
										</td>
										<td width="56" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Twitter:</p>
										</td>
										<td width="78" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><a href="https://twitter.com/carelnolte" style="color:#b7b7b7;">@carelnolte</a></p>
										</td>
									</tr>
									<tr>
										<td width="16" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<img src="http://www.carelnolte.com/assets/images/facebook.png" alt="" width="11" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
										</td>
										<td width="56" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Facebook:</p>
										</td>
										<td width="78" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><a href="https://www.facebook.com/careln?fref=ts" style="color:#b7b7b7;">carelnolte</a></p>
										</td>
									</tr>
									<tr>
										<td width="16" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<img src="http://www.carelnolte.com/assets/images/skype.png" alt="" width="11" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
										</td>
										<td width="56" valign="top" style="border-collapse: collapse;vertical-align: top;"> 
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">Skype:</p>
										</td>
										<td width="78" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><a href="skype:carel.nolte?" style="color:#b7b7b7;">carel.nolte</a></p>
										</td>
									</tr>
									<tr>
										<td width="16" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<img src="http://www.carelnolte.com/assets/images/linkedln.png" alt="" width="11" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
										</td>
										<td width="56" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color:rgb(0,0,0);font-weight:bold;margin:0;">LinkedIn:</p>
										</td>
										<td width="78" valign="top" style="border-collapse: collapse;vertical-align: top;">
											<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(183, 183, 183);margin:0;"><a href="http://za.linkedin.com/in/carelnolte" style="color:#b7b7b7;">Carel Nolte</a></p>
										</td>
									</tr>
								</table>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="697" valign="top" style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/bottom-spacer.jpg" alt="spacer image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="697" valign="top" style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/base-strip.jpg" alt="strip image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="697" style="border-collapse: collapse;vertical-align: top;">
					<tr>
						<td width="697" valign="top"style="border-collapse: collapse;vertical-align: top;">
							<img src="http://www.carelnolte.com/assets/images/bottom-spacer.jpg" alt="spacer image" width="697" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
