<table cellpadding="0" cellspacing="0" border="0" align="center" width="940" style="border-collapse: collapse;vertical-align: top;">
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" align="center" width="695">
							<tr>
								<td width="195" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<a href="http://www.fulcrum.co.za"><img src="http://flowsa.bitbucket.org/fulcrum/images/fulcrum-logo.jpg" alt="header image" width="195" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/></a>
								</td>
								<td width="499" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<table cellpadding="0" cellspacing="0" border="0" align="center" width="499">
										<tr>
											<td width="499" valign="top" style="border-collapse: collapse;vertical-align: top;">
												<img src="http://flowsa.bitbucket.org/fulcrum/images/image-spacer.jpg" alt="header image" width="499" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
												<h1 style="margin:0;color:#067681;font-size:18px;">Carel Nolte <span style="margin:0;color:#067681;font-size:12px;">/role/</span></h1>
											</td>
										</tr>
										<tr><td height="5"></td></tr>
									</table>
									<table cellpadding="0" cellspacing="0" border="0" align="center" width="499">
										<tr>
											<td width="159" style="border-collapse: collapse;vertical-align: top;">
												<table cellpadding="2" cellspacing="0" border="0" align="left" width="159" style="border-collapse: collapse;vertical-align: top;">
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/phone.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="137" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(6, 118, 129);margin:0;">+27 (0) 82 412 3241</p>
														</td>
													</tr>
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/telephone.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="137" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(6, 118, 129);margin:0;">+27 (0) 10 001 2860</p>
														</td>
													</tr>
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/face-icon.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="137" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:11px;color: rgb(6, 118, 129);margin:0;">+27 (0) 86 242 1610</p>
														</td>
													</tr>
													<tr><td height="1"></td></tr>
												</table>
											</td>
											<td width="340" style="border-collapse: collapse;vertical-align: top;">
												<table cellpadding="2" cellspacing="0" border="0" align="left" width="340" style="border-collapse: collapse;vertical-align: top;">
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/envelope.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="318" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:12px;color: rgb(6, 118, 129);margin:0;"><a href="mailto:careln@thefulcrumgroup.co.za" style="color:#067681;">careln@thefulcrumgroup.co.za</a></p>
														</td>
													</tr>
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/flag.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="318" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;font-family:Arial,sans-serif;font-size:12px;color: rgb (6, 118, 129);margin:0;color:#067681;">PO Box 849, Riverclub, 2149</p>
														</td>
													</tr>
													<tr>
														<td width="20" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<img src="http://flowsa.bitbucket.org/fulcrum/images/world-wide.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
														</td>
														<td width="318" valign="top" style="border-collapse: collapse;vertical-align: top;">
															<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:12px;color:rgb (6, 118, 129);margin:0;"><a href="http://www.thefulcrumgroup.co.za" style="color:#067681;">www.thefulcrumgroup.co.za</a></p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<table cellpadding="0" cellspacing="0" border="0" align="center" width="499">
										<tr>
											<td width="25" valign="top" style="border-collapse: collapse;vertical-align: top;">
												<img src="http://flowsa.bitbucket.org/fulcrum/images/location.png" alt="" width="15" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
											</td>
											<td width="474" valign="top" style="border-collapse: collapse;vertical-align: top;">
												<p style="border-left:16px;border-bottom:9px;font-family:Arial,sans-serif;font-size:12px;color: rgb(6, 118, 129);margin:0;line-height:18px;">1st Floor, Lacey Oak House, Ballyoaks Office Park, 35 Ballyclare Dr, Bryanston, 2194</p>
											</td>
										</tr>
									</table>
								</td>
								
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" align="center" width="695">
							<tr>
								<td width="653" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<img src="http://flowsa.bitbucket.org/fulcrum/images/fulcrum-underline.jpg" alt="header image" width="653" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>
								</td>
								<td width="23" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<a href="https://www.facebook.com/thefulcrumgroupsa"><img src="http://flowsa.bitbucket.org/fulcrum/images/facebook-icon.jpg" alt="header image" width="23" height="28" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/></a>
								</td>
								<td width="18" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<a href="https://twitter.com/fulcrumeer"><img src="http://flowsa.bitbucket.org/fulcrum/images/twitter-icon.jpg" alt="header image" width="23" height="28" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/></a>
								</td>
								<td width="18" valign="top" style="border-collapse: collapse;vertical-align: top;">
									<a href="http://www.linkedin.com/company/3781372"><img src="http://flowsa.bitbucket.org/fulcrum/images/linkedin-icon.png" alt="header image" width="23" height="28" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="246" valign="top" style="border-collapse: collapse;vertical-align: top;">
			<img src="http://www.thefulcrumgroup.co.za/uploads/files/signature/promo.jpg" alt="header image" width="241" height="157" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block;"/>				
		</td>
	</tr>
</table>



<table cellpadding="0" cellspacing="0" border="0" align="center" width="940" style="border-collapse: collapse;vertical-align: top;"> <!-- ADD WIDTH -->
		<tr>
			<td style="border-collapse: collapse;vertical-align: top;" height="129">
				
			</td>
		</tr>
		<tr>
			<td style="border-collapse: collapse;vertical-align: top;" width="940" height="28">
				
			</td>
		</tr>
	</table>